header img {
  width: 50%;
  object-fit: contain;
  height: 55px;
}

footer {
  height: 190px;
  background-color: black;
  color: white;
}

footer h4 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  padding-top: 25px;
  padding-bottom: 12px;
  margin-top: 0;
}

footer ul {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

footer ul li .fas {
  padding-right: 8px;
}

.contFooter {
  padding-left: 20px;
}

.end a {
  color: white;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  color: black;
}

main {
  background-color: #f6f6f6;
}

h1 {
  padding-left: 10px;
  font-size: 1.65rem;
}

h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 5px;
}

h3 {
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

.anima {
  float: right;
}

.container {
  margin: 0 auto;
  margin-left: 15px;
  margin-right: 15px;
}

.begin {
  position: absolute;
  top: 20px;
  left: 30px;
}

header img {
  margin: 0 auto;
}

#photoBegin {
  height: 250px;
}
#photoBegin img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#photoBegin h1 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
#photoBegin .coeur .far {
  visibility: visible;
  padding-right: 29px;
  padding-top: 25px;
}
#photoBegin .fa-heart {
  font-size: 24px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#photoBegin .fa-heart::before {
  font-weight: bold;
  transition: color 1s ease-out;
}
#photoBegin .fa-heart:hover {
  color: #9356DC;
  cursor: pointer;
}
#photoBegin .fas {
  font-size: 1rem;
}

.photoBegin__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f6f6f6;
  position: relative;
  bottom: 30px;
}

.tirait {
  border-top: 3px solid #99e2d0;
  width: 45px;
  padding-bottom: 12px;
}

.link {
  height: 80px;
  color: black;
  display: flex;
  padding-left: 15px;
  justify-content: space-between;
}

.first {
  animation: fadeInM 3s;
}
@keyframes fadeInM {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.second {
  animation: fadeInM 5s;
}
@keyframes fadeInM {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.third {
  animation: fadeInM 6s;
}
@keyframes fadeInM {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fourth {
  animation: fadeInM 6.5s;
}
@keyframes fadeInM {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

article {
  width: 100%;
  height: 115px;
  border: 1px solid white;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px black;
  transition: all 200ms;
}
article:hover {
  box-shadow: 1px 1px 10px black;
  background: #f5edff;
}

.flexMenu {
  width: 95%;
  height: 115px;
  display: flex;
  justify-content: space-between;
}

.plats {
  line-height: 1.4rem;
  width: 350px;
}

article:hover p {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article:hover h3 {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-weight: bold;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 21px;
}

.align-price {
  display: flex;
  justify-content: space-between;
}

article:hover .price {
  animation: slide-price 1s ease 0.2s both;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 70px;
  height: 115px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  right: 13.5px;
  opacity: 0;
}

article:hover .icon {
  animation: slide-validation 1s ease-in-out both;
}

article:hover .fa-check-circle {
  font-size: 1.5em;
  color: #fff;
  transition: transform 400ms ease-in-out;
  animation: rotateicon 1.5s ease-in-out;
}

@keyframes slide-price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60px);
  }
}
@keyframes slide-validation {
  0% {
    transform-origin: right;
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform-origin: right;
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes rotateicon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.explore {
  border: 1px solid #f6f6f6;
  border-radius: 30px;
  width: 230px;
  max-width: 800px;
  height: 50px;
  line-height: 45px;
  margin: 0 auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  transform: scale(1);
  transition: transform 800ms;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.explore:hover {
  background: #ff93e1;
}

/*******MEDIA QUERY*******/
@media (max-width: 450px) {
  .plats p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
  }

  .icon {
    margin-left: -8px;
  }
}
@media (max-width: 1024px) {
  .price {
    justify-content: flex-end;
  }

  article {
    height: 80px;
  }

  .flexMenu {
    height: 80px;
  }

  .plats {
    padding-top: 17px;
  }

  .icon {
    height: 80px;
  }
}
@media (max-width: 1024px) {
  .price {
    justify-content: flex-end;
  }

  .flexMenu {
    width: 95%;
  }
}
@media (min-width: 767px) {
  footer {
    text-align: center;
  }

  .commander {
    width: 290px;
  }
}
@media (min-width: 1024px) {
  h1 {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 2rem;
  }

  #photoBegin {
    height: 267px;
  }

  .animaMenu {
    height: 96px;
  }

  .flexMenu {
    width: 95%;
    height: 91px;
  }

  .groupeMenu1, .groupeMenu2, .groupeMenu3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .icon {
    height: 90px;
    margin-left: -8px;
    position: relative;
    right: 0;
  }

  @keyframes slide-validation {
    0% {
      transform-origin: right;
      transform: scaleX(0);
      opacity: 0;
    }
    100% {
      transform-origin: right;
      transform: scaleX(2);
      opacity: 1;
    }
  }
  article {
    display: inline-block;
    width: 32%;
    height: 90px;
  }

  .plats {
    line-height: 22px;
    padding-top: 21px;
  }

  #photoBegin img {
    height: 240px;
  }

  .plats h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .plats p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}

/*# sourceMappingURL=menu.css.map */
