header img {
  width: 50%;
  object-fit: contain;
  height: 80px;
}

footer {
  height: 190px;
  background-color: black;
  color: white;
  padding-left: 20px;
}

footer h4 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  padding-top: 25px;
  margin-top: 0;
}

footer ul {
  margin: 0;
  padding: 0;
  line-height: 21px;
}

footer ul li .fas {
  padding-right: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

h2 {
  padding-left: 15px;
}

h4 {
  font-size: 20px;
}

header {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.end a:link {
  color: white;
}

.ville {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  font-weight: bold;
  border-top: 2px solid #d3d3d3;
}

.suiteTitre {
  font-size: 19px;
}

#grosTitre {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

#fonctionnement {
  height: 280px;
}

.explore {
  border: 1px solid #f6f6f6;
  border-radius: 30px;
  width: 250px;
  max-width: 800px;
  height: 40px;
  line-height: 37px;
  margin: 0 auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  transform: scale(1);
  transition: all 800ms;
}
.explore:hover {
  background: #ff93e1;
}

.nav__button {
  border: 1px solid #ffffff;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  margin-bottom: 15px;
  font-weight: bold;
  color: black;
  border-radius: 15px;
  background-color: #f6f6f6;
  box-shadow: 1px 1px 4px black;
  display: flex;
  transition: all 300ms;
}
.nav__button:hover {
  box-shadow: 1px 1px 10px black;
  background: #f5edff;
}

.chiffre {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  position: relative;
  right: 13px;
  top: 9px;
  text-align: center;
  line-height: 32px;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
}

.nav__button .fas {
  padding-right: 30px;
  padding-top: 15px;
}

.flexRestaurants {
  display: flex;
  flex-direction: column;
}

#restaurants {
  height: 1080px;
  background-color: #f6f6f6;
  padding-top: 35px;
}
#restaurants .groupeTitre {
  background-color: white;
  line-height: 0px;
  padding-left: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.coeur {
  padding-top: 20px;
  padding-right: 25px;
}

.coeur .far {
  font-size: 2rem;
  background: white;
  transition: background-color 800ms linear;
}
.coeur .far:hover {
  background-color: #9356DC;
}

article {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.imageCover {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  transition: all 300ms;
}
.imageCover:hover {
  box-shadow: 1px 1px 10px black;
}

.restaurants img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

footer {
  height: 190px;
  background-color: black;
  color: white;
}

footer h4 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  padding-top: 25px;
  margin-top: 0;
}

footer ul {
  margin: 0;
  padding: 0;
  line-height: 21px;
}

footer ul li .fas {
  padding-right: 8px;
}

.end a:link {
  color: white;
}

/*******Media Query*******/
@media (min-width: 767px) {
  footer {
    text-align: center;
  }
}
@media (min-width: 1023px) {
  .nav__button {
    width: 300px;
  }

  .explore {
    width: 290px;
  }

  .fonctionnement {
    display: flex;
    justify-content: space-evenly;
  }

  #fonctionnement {
    height: 200px;
  }

  .imageCover {
    width: 450px;
  }

  .flexRestaurants {
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  article {
    width: auto;
    margin: 0 auto;
  }

  #restaurants {
    height: 650px;
  }
}
@media (min-width: 1344px) {
  .flexRestaurants {
    max-width: 1344px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .nav__button {
    width: 400px;
  }
}
@media (min-width: 1890px) {
  #fonctionnement {
    max-width: 1800px;
    margin: 0 auto;
  }

  #restaurants {
    height: 400px;
  }

  .flexRestaurants {
    max-width: 1890px;
  }
}

/*# sourceMappingURL=style.css.map */
