@import "./Utils/variables";

//**********GENERIQUE**************

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
h2{
    padding-left: 15px;
}
h4{
    font-size: 20px ;
}
header{
    text-align: center;
}
li{
    list-style: none;
    
}
a{
text-decoration: none;
}
.end a:link{
    color: white;
}

//**********HEADER**************

header img{
    width: 40%;
    height: 30px;   
}
//**********MAIN (Gros titre)**************

.ville{
    display: flex;
    justify-content: center;
    background-color: $colour-tertiary;
    font-weight: bold;
    border-top: 2px solid #d3d3d3;   
}
.suiteTitre{
   font-size: 19px;
}

#grosTitre{
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 40px;
}
//**********MAIN (Fonctionnement)**************
#fonctionnement{
    height: 280px;
}
.explore{
    border: 1px solid #f6f6f6;
    border-radius: 30px;
    width: 60%;
    height: 40px;
    line-height: 37px;
    margin: 0 auto;
    background: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
    color: white;
    font-weight: bold;
    transform: scale(1);
    transition: all 800ms;
    &:hover{
        transform: scale(1.15);
        background: $colour-secondary;
    }
}
.nav__button{
    border: 1px solid #ffffff;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    margin-bottom: 15px;
    font-weight: bold;
    color: black;
    border-radius: 15px;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 4px black;
    display: flex; 
    transition: all 300ms;
    &:hover{
        box-shadow: 1px 1px 10px black;
    }   
}
.chiffre{
  margin-right: 15px;
  border: 1px solid $colour-primary ;   
  background-color: $colour-primary;
  color: white;
    border-radius: 53%;
    padding: 0.6rem;
    margin-right: 1rem;
    height: 1px;
    line-height: 0px;
    padding-top: 16px;
    margin-top: 9px;
    position: relative;
    right: 15px;   
}

.nav__button .fas{
    padding-right: 30px;
    padding-top: 15px;
}
//**********MAIN (Restaurants)**************

.flexRestaurants{
    display: flex;
    flex-direction: column;
}
#restaurants{
    height: 1080px;
    background-color: #f6f6f6;
    padding-top: 35px;
    .groupeTitre{
        background-color: white;
        line-height: 0px;
        padding-left: 8px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        // box-shadow: 1px 1px 3px black;
        display: flex;
        justify-content:space-between;
    }
}
.coeur{
    padding-top: 25px;
    padding-right: 18px;
}
article{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.imageCover{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    transition: all 300ms;
    &:hover{
        box-shadow: 1px 1px 10px black;
    }
    
}
.restaurants img{
    width: 100%; 
    height: 150px;
    object-fit: cover;
    // padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}
//**********FOOTER**************
footer {
    height: 190px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:black;
    color: white;   
}
footer h4{
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
    padding-top: 25px;
    margin-top: 0;
}
footer ul {
    margin: 0;
    padding: 0;
    line-height: 21px;
}
footer ul li .fas{
    padding-right: 8px;
}
footer ul li a:link{
    color: white;
    
}

/*******Media Query*******/

@media (min-width: 767px) {
footer {
    text-align: center;
}
}

@media (min-width: 1023px) {
    .nav__button{
        width: 300px;
    }
   .fonctionnement{
       display: flex;
       justify-content: space-evenly;
   }
   #fonctionnement{
    height: 200px;
}
    .imageCover{
    width: 450px;
    }
    .flexRestaurants{
        height: 500px;
        flex-direction: row;    
        flex-wrap: wrap; 
        // max-width: 1024px;
        margin: 0 auto;
    ;
        
        
    }
    article{
        width: auto;
        margin: 0 auto;
    }
    #restaurants{
        height: 650px;
    }
    footer{
        text-align: center;
    }
   
}
@media (min-width: 1344px) {
    .flexRestaurants{
    max-width: 1344px;
}
    h1{
        font-size: 2rem;
    }
    h2{text-align: center;
       font-size: 2rem;
    }
}
@media (min-width: 1890px) {
    #restaurants{
        height: 400px;
    }
    .flexRestaurants{
    max-width: 1890px;
}

}