@import "./Utils/variables";
@import "./Layouts/header";
@import "./Layouts/footer";

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    color: black;
}
main{
    background-color: #f6f6f6;;
}
h1{
    padding-left: 10px;
}
h2{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.1rem;
    padding-top: 10px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    text-align: center;
}
.coeur .far{
   visibility: hidden;
}
.anima{
    float: right;
 
}

// PAGES DE MENU 
.groupeMenu1 .groupeMenu2 .groupeMenu3{
    height: 98px;
}

#photoBegin{
    height: 310px;
    img{
        width: 100%; 
        height: 200px;
        object-fit: cover;
          
    }
    h1{
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;  
    }
    .fas{
       position: relative;
       bottom: 57px;
       left: 50px;
       font-size: 2rem;
    }

}
.photoBegin__title{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f6f6f6;
    position: relative;
    bottom: 30px;
}



// ARTICLES ***********************************

.tirait{
    border-top: 3px solid #99e2d0;
    width: 45px;
    position: relative;
    bottom: 0.5rem;
}
.link{
    height: 101px;
    color: black;
    display: flex;
    padding-left: 15px; 
    justify-content: space-between;  
    
    // &:hover .animaMenu{
        // transform: scaleX(4);
    
    
}
.flexMenu{
    width: 1262px;
    display: flex;
    justify-content: space-between;
    
}
// .animaMenu{
    
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background-color: #99E2D0;
//         width: 50px;
//         height: 101px;
//         border-top-right-radius: 20px;
//         border-bottom-right-radius: 20px;
//         right: -2px;
//         position: relative;
//         top: 0;
//         left: 1px;
//         opacity: 1;
//     }
.animaMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 101px;
    text-align: center;
    border: 1px solid black;
    height: 101px;
    background: white;
    transition: all 1s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: 0;
    left: 1px;
}
  
    
    
    

article{
    width: 100%;
    height: 100px;
    border: 1px solid white ;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px black;
    transition: all 200ms; 
    // &:hover{
    //     box-shadow: 1px 1px 10px black;
    //     background: #f5edff;
    // } 
    &:hover .animaMenu{
        transform:translateX(-50px);
    }
   
}
article:nth-child(1){
    animation: fadeInM 3s;
    @keyframes fadeInM {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}
article:nth-child(2){
    animation: fadeInM 5s;
    @keyframes fadeInM {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}
article:nth-child(3){
    animation: fadeInM 6s;
    @keyframes fadeInM {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}
.plats{
    line-height: 0.8rem;
    width: 70%;
    // height: 90px;
}
.prix{
    font-weight: bold;
    // padding-top: 45px;
    width: 30px;
    text-align: center;    
}
.prixIcone{
    display: flex;
}


// BOUTON COMMANDER************************************

.commander{
    border: 1px solid #f6f6f6;
    border-radius: 40px;
    width: 250px;
    height: 40px;
    line-height: 37px;
    margin: 0 auto;
    background: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    transform: scale(1);
    transition: all 300ms;
    &:hover{
        background: $colour-secondary;
    }
}
.commander a:link{
    color: white;
}


/*******Media Query*******/

@media (min-width: 767px) {
    footer {
        text-align: center;
    }
    .commander{
         width: 290px;  
    }
  
}
@media (min-width: 1440px) {
    h1{
        margin: 0 auto;
        padding-top: 20px;
        font-size: 2rem;
    }
    .animaMenu{
        height: 96px;
    }
    .groupeMenu1, .groupeMenu2, .groupeMenu3{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: auto;
    }
    
    article{
        display: inline-block;
        width: 27%;
        height: 95px;
    }
    .plats{
        // line-height: 1.1rem;
        text-align: left;
    }
    #photoBegin img {
        height: 240px;
}

}
    
    