@import "./Utils/variables";

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    color: black;
}
h1{
    padding-left: 10px;
}
h2{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
}
header{
    text-align: center;
}
header img{
    width: 40%;
    height: 30px;   
    
}
.coeur{
    padding-top: 25px;
    padding-right: 18px;
}

//Pages de menu

#photoBegin{
    height: 250px;
    img{
        width: 100%; 
        height: 200px;
        object-fit: cover;
        padding-top: 5px;  
    }
    h1{
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;  
    }

}
.photoBegin__title{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f6f6f6;
    position: relative;
    bottom: 30px;
}
.link{
    color: black;
}
.prix{
    font-weight: bold;
}
.tirait{
    border-top: 3px solid #99e2d0;
    width: 45px;
    position: relative;
    bottom: 0.5rem;
}