//**********FOOTER**************
footer {
    height: 190px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:black;
    color: white;   
}
footer h4{
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
    padding-top: 25px;
    margin-top: 0;
}
footer ul {
    margin: 0;
    padding: 0;
    line-height: 21px;
}
footer ul li .fas{
    padding-right: 8px;
}
footer ul li a:link{
    color: white;
    
}